/*Menu Styles*/
body{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: #F2F2F2;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0C70F2;
    padding: 0 45px 0 45px;
}
.col-dnc{
    color:#FFFFFF;
    font-weight: 800;
    margin:15px 0; 
    font-size: 35px;
    padding: 0 0 0 50px;
}
.col-menu ol{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: 25px 15px;
    color:#FFFFFF;
    font-weight: 800;
}
.col-menu li{
    list-style-type: none;
    font-size: 20px;
}
.col-menu a{
    text-decoration: none;
    color: #FFFFFF;
}

/* Descrição  Previsão */
#row-Descrição{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
#row-Descrição p{
    font-size: 45px;
    font-weight: 800;
    line-height: 50px;
}
#row-Descrição img{
    width: 150px;
}

/*Formulario*/
#row-form form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    justify-content: center;
    padding: 100px 80px;
    margin: 100px 300px 500px 300px;
    border-radius: 20px;   
}
#row-form .form-li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    place-items: center;
}
.form-li label{
    font-size: 17px;
    font-weight: 400;
    place-self: start;
}
.form-li input{
    margin: 20px 0 0 0;
    place-self: start;
    background-color: #F2F2F2E5;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px 0 15px 10px;
    color: #39393980;
    font-weight: 400;
    font-size: 15px;
}
.form-li-in{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 105%;
}
.form-li-in input{
    align-items: start;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
    padding: 15px 0px 15px 25px;
    color: #39393980;
    font-weight: 400;
    font-size: 15px;
    width: 270px;
}
button{
    width: 100%;
    background-color:#0C70F2E5;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    margin-top: 100px;
    cursor: pointer;
}

button a{
   text-decoration: none;
   font-size: 20px;
   color: #FFFFFF;
   font-weight: 600;
}

/*Busca*/
#row-busca{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    margin-bottom: 200px;
}
#row-busca-disc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#row-busca div p{
    font-size: 40px;
    font-weight: 800;
    place-self:center;
}
#row-busca div img{
    width: 100px;
    place-self:start center;
}
 #row-loc{
    display: flex;
    flex-direction: row; 
    width: 60%; 
    margin-left: 200px; 
    gap: 50px;
    background-color: #0C70F2;
    border-radius: 20px 20px 0 0px ;   
    height: 50px; 
    justify-content: start;
    place-self: center center;
    padding: 0 50px;
}
h3{
    display: flex;
    place-content: center;
}
h2{
    display: flex;
    place-self: start;
    color: #FFFFFF;
    place-self: center;   
}

/*Previsão*/
#row-previsao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
#row-previsao #row-provisao-desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
 p{
    font-size: 40px;
    font-weight: 800;
    place-self:center;
}
img{
    width: 100px;
    place-self:start center;
}
#row-previsao-info {
    display: flex;
    place-self:center;   
}

#row-previsao-info p{
    display: flex;
    place-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px; 
    width: 700px;
    border: solid 1px #0C70F2;
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 800;
    font-size: 17px;
}
input::placeholder{
    color: black;

/*FOOTER*/
}
footer{
    display: flex;
    flex-direction:row ;
    height: 70px;
    background-color: #0C70F2;
    color: #FFFFFF;
    gap: 6px;
    place-content: end;
    place-items: center;
    padding: 0 40px;
    
}
#linha{
    background-color: #FFFFFF;
    height: 20px;
    width: 2px;
}