/*Menu Styles*/
body{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: #e9e9e9;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0C70F2;
    padding: 0 45px 0 45px;
}
.col-dnc{
    color:#FFFFFF;
    font-weight: 800;
    margin:15px 0; 
    font-size: 35px;
    padding: 0 0 0 50px;
}
.col-menu ol{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin: 25px 15px;
    color:#FFFFFF;
    font-weight: 800;
}
.col-menu li{
    list-style-type: none;
    font-size: 25px;
}

/* Descrição  Previsão */
#row-Descrição{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;

}
#row-Descrição p{
    place-self: start;
    font-size: 50px;
    font-weight: 800;
    padding: 0 0 0 150px;
    line-height: 60px;
}
#row-Descrição img{
    width: 140px;
}

/*Formulario*/
#row-form form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    justify-content: center;
    padding: 100px 80px;
    margin: 100px 300px 500px 300px;
    border-radius: 20px;
    
}
#row-form .form-li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    place-items: center;
}
.form-li label{
    font-size: 17px;
    font-weight: 400;
    place-self: start;
}
.form-li input{
    margin: 20px 0 0 0;
    place-self: start;
    background-color: #e9e9e9;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px 0 15px 10px;
    color: #39393980;
    font-weight: 400;
    font-size: 15px;
}
.form-li-in{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 105%;
}
.form-li-in input{
    align-items: start;
    background-color: #e9e9e9;
    border: none;
    border-radius: 5px;
    padding: 15px 0px 15px 25px;
    color: #39393980;
    font-weight: 400;
    font-size: 15px;
    width: 270px;
}
button{
    width: 100%;
    background-color:#0C70F2E5;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    margin-top: 100px;
}
button a{
   text-decoration: none;
   font-size: 20px;
   color: #FFFFFF;
   font-weight: 600;
}

/*Busca*/
#row-busca div{
    display: flex;
    justify-content: center;  
    width: 100%;
    gap: 10px;
}
#row-busca div p{
    font-size: 30px;
    font-weight: 800;
}
#row-busca div img{
    width: 70px;
    place-self:start center;
}
table {
    border-collapse: collapse;
    border-radius: 20px;
    width: 100%;
    margin: 0 350px;
  }
  thead{
    background-color: #0C70F2;
  }
  
  th{
    color: #FFFFFF;
    padding: 10px;
  }
  td {
    border: none;
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  