body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    font-family: Inter ;
}
nav{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #0C70F2;
    justify-content: space-between;
}
nav p{
    color: #F2F2F2;
    font-weight: 800;
    padding-left: 50px;
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 10px;
    padding-right: 50px;
    margin-top: 30px;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 25px;
    
}
main{
    width: auto;
}
#container-descricao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    gap: 5px;
    width: 100%;
}
#container-descricao span{
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
    line-height: 40px;
}
#container-descricao img{
    width: 140px;
    place-self: start ;
}

#container-form{
    display: flex;
    justify-content: center;
    width: auto;
}
form{
    display: flex;
    flex-direction: column;
    place-items: start;
    width: auto;
    gap: 30px;
    background-color: #ffffff;
    margin-top: 100px;
    border-radius: 25px;
    padding: 70px 70px;
}
.container-lain{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container-lain label{
    font-weight: 400;
    font-size: 20px;
}
.container-lain input{
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #F2F2F2;
    height: 40px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 15px;
}
.container-lain-d {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container-lain-d label{
    font-weight: 400;
    font-size: 20px;
}
.container-lain-d input{
    border: none;
    border-radius: 10px;
    background-color: #F2F2F2;
    height: 40px;
    width: 195px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 15px;
}
form button{
    width: 100%;
    place-self: center;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #0C70F2E5;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    cursor: pointer;
}
#container-adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 350px;
    width: auto;
}
#container-adress-dis{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#container-adress-dis span{
    font-weight: 800;
    font-size: 40px;
    justify-content: start;
    place-items: center;
    place-self: center;
    margin-left: 210px;
}
#container-adress-dis img{
    width: 80px;

}
#container-adress-loc{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}
#container-adress-loc-d{
    display: flex;
    justify-content: space-around;
    place-items:  center;
    background-color: #0C70F2;
    gap: 20px;
    width: 70%;
    height: 70px;
    border-radius: 20px 20px 0 0;
    
}
#container-adress-loc-d span{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    justify-items: start;
}
#container-adress-loc-e{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    place-self: center;
    width: 70%;
    height: 70px;
    border-radius: 0 0 20px 20px;
    color: black;
}
#container-adress-loc-e p{
    font-size: 20px;
    font-weight: 800;
    color: black;
    max-width: 70%;
    margin-right: 100px;
}
#container-forecast{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    margin-top: 100px;
    gap: 20px;
}
#container-forecast span{
    font-weight: 800;
    font-size: 40px;
    justify-content: start;
    place-items: center;
    place-self: center;
  
}
#container-forecast img{
    width:120px;
}
#container-forecast p{
    width: 58%;
    margin-left: 90px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px 10px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: #0C70F2;
    height: 100px;
    gap: 10px;
    width: auto;
    justify-content: end;
    place-items: center;
    padding-right: 50px;
    color: #FFFFFF;
    font-weight: 800;
}
#linha{
    background-color: #FFFFFF;
    height: 20px;
    width: 3px;
}